[include mainsail.cfg]
[mcu]
serial: /dev/serial/by-id/<your-mcu-id>

[virtual_sdcard]
path: /home/lab/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics: none
max_velocity: 1000
max_accel: 1000

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[include autotune_tmc.cfg]

[include KAMP_Settings.cfg]

[exclude_object]
